<html>
    
    <head>
        
    </head>
    
    <body>
        
        
        
    </body>

</html>

<html>
    <head>
        <title>Amanda's Cool Blog</title>
    </head>
    <body>
        <div>
            <h1><a href=''>Amanda's Cool Blog</a></h1>
            <h2>The blog for the coolest kids on the World Wide Web</h2>
            <p>Welcome to <em>Amanda's</em> <strong>Cool</strong> Blog! 
            The thoughts contained within are really deep and profound; 
            you should consider yourself lucky thatyou get to read them.</p>
        </div>

        <div>
            <p>published: 27 Sat 2016, 1:00pm</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 27 Sat 2016, 2:00pm</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>